[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mysql-connector-python = "*"
ptvsd = "*"
numpy = "*"
keras = "*"
jinja2 = "*"
tensorflow-core-keras = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
